body {
    background-color: rgb(206, 146, 247) !important;
}

.container {
    min-height: 100vh;
    background-color: rgb(206, 146, 247) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
